/* You can add global styles to this file, and also import other style files */
/* styles.scss */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f5f7;
}

a {
  color: #0052cc;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.app-container {
  padding: 20px;
}
